# Server Environment Configuration
DATABASE_URL="postgresql://rentify:rentify@localhost:5432/rentify?schema=public"
PORT=8080

# --- SEPAY & NGROK CONFIGURATION ---
NGROK_AUTHTOKEN="your_ngrok_authtoken_here"
SEPAY_WEBHOOK_TOKEN="whsec_your_sepay_webhook_token_here"

# --- REDIS CONFIGURATION ---
REDIS_URL="redis://localhost:6379"

# --- SEPAY DYNAMIC VA API CONFIGURATION ---
SEPAY_API_TOKEN="your_sepay_api_token_here"
SEPAY_BANK_ACCOUNT_ID="your_sepay_bank_account_id"
SEPAY_BANK_SLUG="bidv"
